<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mehdi.blankactivity">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="false"
        android:icon="@drawable/lancher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lancher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ACTIVITYS.SplashScreen"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ACTIVITYS.MainActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mehdi.blankactivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ACTIVITYS.SignUp"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".ACTIVITYS.HomeActivity"/>

        <activity android:name=".ACTIVITYS.AddKid"/>

        <activity android:name=".ACTIVITYS.EditProfile"/>

        <activity android:name=".ShowImage"/>

        <activity android:name=".ACTIVITYS.DetailKids"/>

        <activity android:name=".ACTIVITYS.Addpost"/>

        <activity android:name=".ACTIVITYS.PostDetail"/>

        <activity android:name=".ACTIVITYS.ActivityClass"/>

        <activity android:name=".ACTIVITYS.SendNoteActivity"/>

        <activity android:name=".ACTIVITYS.ActivityScanCode"/>

        <service
            android:name=".ACTIVITYS.NotificationService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>